{% extends 'model.html' %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{% block conteudo %}
<body>
    <form method="post">
    {% csrf_token %}
        <div class="container" style="margin-top: 5%;">
            <div class="justify-content-center" >
            <div class="row justify-content-center">
                <strong style="margin-bottom: 20px;font-size: 30px;">Cumprimento do Currículo</strong>

                </div>
                <div class="row justify-content-center">
                <div class="label-float">
                    <input type="text" style="margin-bottom: 2px;" id="username" placeholder="Usuário" name="username" required autofocus>
                </div>
                </div>
                <div class="row justify-content-center">
                <div class="label-float">
                    <input type="password" id="password" placeholder="Senha" name="password" required >
                </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <button class='btn btn-success' type="submit" style="margin-right: -1px;margin-top: -5px;">Logar</button>
                </div>
                {% for k,v in form.errors.items %}
                    {{v}}
                {% endfor %}

            </div>

        </div>
     </form>
</body>

{% endblock conteudo %}